.feed-gap {
  background-color: #fafafa
}

.feed-post-container {
  display: flex;
  flex-direction: column;
  max-width: 613.99px;
  width: 613.99px;

  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;

  max-height: 1000px;

  margin: 16px auto;
  border-radius: 3px;
  background-color: white;
}

.feed-post-owner {
  max-height: 70.92px;
  height: 70.92px;

  max-width: 613.99px;
  width: 613.99px;

  display: flex;

  /* border: 3px solid green; */


}



.feed-photo img {
  max-width: 613.99px;
  width: 613.99px;
  max-height: 767.47px;
  object-fit: cover;
}

.feed-description {
  height: 87px;
  /* max-height: 18px; */
}

.feed-new-comment {
  height: 39.99px;
  max-height: 39.99px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

#root {
  background-color: #fafafa;
  height: 100vh;
  /* height: 100%; */
}

.feed-gap {
  padding-top: 65px;
}


.feed-pic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 1000px;

}
